<h4> Post details:</h4>
<p>
  <br>
   Added at
    <br>
<% binding.pry %>
    <%= @row[:created_date] %>
    <br>
    <br>
    <%= @row[:content] %>
</p>
<br>
<h4>Comments:</h4>

<% @comments.each do |comment| %>
  <p>
    <%= comment[:content] %>
    <br>
    <span style="font-size: 75%; color: #999">Added at <%= comment[:created_date] %></span>
  </p>
  <hr>
<% end %>

<p>
<form action='/details/<%= @row[:id] %>' method="POST" role="form">
  <textarea name="content" class="form-control" id="exampleFormControlTextarea1" rows="7" placeholder="Type comments text here!"></textarea>
<br>
  <button type="submit" class="btn btn-primary">Add comment</button>
</form>
</p>
