<h2>Latest posts:</h2>
<br>
<% @results.each do |post| %>
<p> 
<br> <%= post[3] %> Added at <br> <%= post[1] %>
<br> <%= post[2] %>
<br>
<br>
<a href="/details/<%= post[0] %>">Comments</a>
</p>
<hr>
<% end %>