<h2>Add New Post NOW!!!</h2>
<p>
<form action='/new' method="POST" role="form">
<label for="exampleInputName2">Name</label>
    <input type="text" class="form-control" id="exampleInputName2" placeholder="Michael Takeshi" name="user_name">
    <br>
  <textarea name="content" class="form-control" id="exampleFormControlTextarea1" rows="7" placeholder="Type post for Michael here!"></textarea>
<br>
  <button type="submit" class="btn btn-danger">Submit</button>
</form>
</p>
